<h1>Listing databases</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= @databases %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Database', new_database_path %>
