%head
  %meta{ :charset => "utf-8" }
  %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }

  <title>Mongoman</title>
  //= javascript_include_tag "modernizr"
  <link rel="icon" type="image/x-icon" src="/favicon.ico" />

  = render "stylesheets"
