<div >
  <div class="list-heading">Listing databases of Server: Localhost</div>
	<table class="mainpage-table">
					<tr class="mainpage-table-row"><th>Database Name</th>
							<th>Size</th>
							<th>Indexes</th>
					</tr>
					{{#each content.content}}
					<tr class="mainpage-table-row"><td><a href = '#/collections/{{unbound this.name}}' class="table-links">{{this.name}}</a>
							<td>{{this.size}}</td>
							<td>{{this.indexes}}</td>
					</tr>
					{{/each}}
				</table>
</div>
<div class="footer">
</div>