<div class="header-links-container">
  <div class="app-name inline">
    <a href="#/">MongoMan</a>
  </div>
  <div class="inline-block pull-right navbar-container">
    <nav>
      <ul>
        <li><a href ="http://docs.mongodb.org/manual/administration/">Help</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="https://github.com/hrishikeshs/MongoMan">Contribute</a></li>
      </ul>
    <nav>
  </div>
</div>
