<header role="banner">
    <div class="fluid-container">
      <div class="header-link-app-name">
        <a href="#/">MongoMan</a>
      </div>
      <div class="header-links-container">
        <ul>
          <li class="header-link">
          <a href ="http://docs.mongodb.org/manual/administration/">Help</a>
          </li>
          <li class="header-link">
            <a href="#/about">About</a>
          </li>
          <li class="header-link">
            <a href="https://github.com/Hrish2006/MongoMan">Contribute</a>
          </li>
        </ul>
      </div>
    </div>
</header>