<header role="banner">
    <div class="fluid-container">
      <nav role='navigation'>
      <ul id="app-name" class="header-elem"><a href="#/">MongoMan</a></ul>
      <ul class="header-elem">{{view Ember.TextField placeholder="Search on Google" id='searchbox' }}</ul>
      <ul id="search-btn" class="header-elem"><button type="search-btn"  id="search-btn">Search</button></ul>
      <ul id="help-btn" class="header-elem"><button type="help-btn" class="header-btn"><a href ="http://docs.mongodb.org/manual/administration/">Help</a></button></ul>
      <ul id="about-btn" class="header-elem"><button class="header-btn"><a href="#/about">About</a></button></ul>
      <ul id="contribute" class="header-elem"><button class="header-btn"><a href="https://github.com/Hrish2006/MongoMan">Contribute</a></button></ul>
      </nav>
    </div>
</header>