<header role="banner">
    <div class="fluid-container">
      <nav role='navigation'>
      <ul id="app-name" class="header-elem">MongoMan</ul>
      <ul class="header-elem">{{view Ember.TextField placeholder="Search on Google" id='searchbox' }}</ul>
      <ul id="search-btn" class="header-elem"><button type="search-btn"  id="search-btn">Search</button></ul>
      <ul id="help-btn" class="header-elem"><button type="help-btn" class="header-btn"><a  style="color:black;text-decoration:none" href ="http://docs.mongodb.org/manual/administration/">Help</a></button></ul>
      <ul id="about-btn" class="header-elem"><button class="header-btn">About</button></ul>
      <ul id="contribute" class="header-elem"><button class="header-btn"><a  style="color:black;text-decoration:none" href="https://github.com/Hrish2006/MongoMan">Contribute</a></button></ul>
      </nav>
    </div>
</header>