<div>
	<div id="about">
  Hi. Thanks for stopping by. MongoMan is an attempt to simplify lives of all those who
  use Mongodb for their work (or play). I'm Hrishi and I am hrish2006 on github. I was inspired by how useful
  genghis was to me while developing with Mongodb.While genghis is a great tool and simplifies work a lot, I wanted
  more features because genghis is rather limited. So I created MongoMan. I want it to be the best database administration tool ever!  Please contribute by submitting feature requests, bug fixes and  pull requests on the github page. Happy Coding!!
</div>

  
</div>
<div class="footer">
</div>