<div>
	<div>
  Hi. Thanks for stopping by. MongoMan is an attempt to simplify lives of all those who<br />
  use Mongodb for their work or play. My name is Hrishi and I am hrish2006 on github. I was inspired by how useful <br/>
  genghis was to me while developing with Mongodb. While genghis is a great tool and simplifies work a lot, I wanted<br/>
  more features because it is rather limited. So I created MongoMan. I want it to be the best database administration tool<br /> ever! Please contribute by submitting feature requests, bug fixes and  pull requests on the github page. Happy Coding!!
</div>

  
</div>
<div class="footer">
</div>