<div >
	<div class="main-body" style="display:block;margin-top:50px;">
	<div><button>Start Mongo Console</button></div>	
  <div class="list-heading">Database: {{database_name}} , Collection: {{collection_name}}</div>
  {{view Mongoman.DocumentsDisplayView}}
<div class="footer">
</div>