<div class="main-body" style="display:block;margin-top:50px;">
  <div>
  	<button>Start Mongo Console</button>
  </div>   
<div>

<div class="list-heading">Database: {{database_name}}, collection: {{collection_name}} </div>
	{{view Mongoman.DocumentsDisplayView}}
</div>
<div style="clear:both">
<div class="pagination" style="margin-top:30px;">
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
	</ul>
</div>

<div class="footer">
</div>
