{{partial 'application/header'}}

<div class="main-body" style="display:block;margin-top:50px;">

	<div><button>Start Mongo Console</button></div>	
	<div><pre>                                           </pre></div>
	{{controller.content}}
	
</div>


</div>