{{#if selectedItem}}
  <ul style="margin-top:80px;">
    <li class="widget-list-option" title="copy this database." {{action 'copy'}}>
      Copy
    </li>
    <li class="widget-list-option" title="rename this database." {{action 'Rename'}}>
      Rename
    </li>
    <li class="widget-list-option" title="drop this database." {{action 'drop'}}>
      Delete
    </li>
  </ul>
{{/if}}
