{{#if selectedItem}}
<div>  
  <ul>
    <li class="widget-list-option" title="copy" {{action 'copy'}}>
      Copy
    </li>
    <li class="widget-list-option" title="rename" {{action 'rename'}}>
      Rename
    </li>
    <li class="widget-list-option" title="drop" {{action 'drop'}}>
      Delete
    </li>
  </ul>
</div>
{{/if}}
