.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.footer {
  padding-top: 50px;
  padding-bottom: 80px;
}

.invisible {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
}