.document-list {
  margin-top: -20px;
}

.document {
	overflow: auto;	
	width: 87.5%;
	border-radius: 3px;
	margin-top: 10px;
	background-color: #f9f9f9;
	font: -webkit-control;
	font-size: 14px; 
	line-height: 20px;
	text-align: justify;
	float: left; 
  margin-top: 38px;
  margin-left: 0px;
}

.document:hover{
	background-color: #f3f3f3;
}

.document:focus {
  outline:none;
  background-color: white !important;
  border-style: none;
  border: none;
}



.edit-save-button {

	background-color: #f9f9f9;
  -moz-border-radius: 3px;
  margin-right: 10px;
  margin-top: 5px;
  font: Helvetica,Arial;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588);
  float: right !important; 
  text-align: center;
  font-size: 12px;
  width: 70px;
  border: none;
  -webkit-border-radius: 3px;
  padding: 7px;

}

.delete-btn {

	background-color:#f9f9f9;
	margin-right: 20px;
	margin-top: 5px;
  -moz-border-radius: 3px;
  font: Helvetica,Arial;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588);
  float: right !important; 
  text-align: center;
  font-size: 12px;
  width: 70px;
  border: none;
  -webkit-border-radius: 3px;
  padding: 7px;
}

.edit-save-button:hover {
	color: black;
	border: 1px solid #60b044;
	border-radius: 2px;
	background: -webkit-gradient(linear, left top, left bottom, 
  	color-stop(0%,rgba(143,200,0,1)),
  	 color-stop(73%,rgba(96,176,68,1)));

}

.delete-btn:hover {
	color:black;
	border-radius: 2px;
	border: 1px solid #60b044;
	background: -webkit-gradient(linear, left top, left bottom, 
  	color-stop(8%,rgba(255,48,25,1)),
  	 color-stop(96%,rgba(207,4,4,1)));

}

.collapsible {
  margin-left: 30px;
}

.showhide {
  display: inline;
}

.showhide:focus ~.collapsible{ 
  max-height: 20px;
}

.inner-navbar-text {
  color: grey;
  display: inline-block;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}


/*Styles for pagination to display correctly*/
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:0 14px;line-height:38px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#4183c4; color:white;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover{color:white;background-color:#d14836;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px; color:grey; background-color: white;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>a:hover{background-color: #eee;color:black;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>a:active{background-color: white;color:black;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;color:grey; background-color: white;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>a:hover{background-color:#eee;color:black;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>a:active{background-color:white;color:black;}

.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
