#mongoman-body {
	margin-top: 0px;
	margin-bottom: 0px;
}

.footer {
	margin-top: 150px;
	margin-bottom: 150px;
}
.fluid-container{
	min-width: 1000px;
	width: 102%;
	max-height: 50px;
	height: 50px;
	overflow: hidden;
	margin-left: -10px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.header-link-app-name {
	font-size: 2.2em;
	padding-top: 0px;
	margin-top: 3px;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
	font-style: helvetica,'anadale-mono', sans-serif;
	color:#454646;
	display: inline-block;
}

.header-links-container {
	float: right;
	margin-right: 60px;
	display: inline-block;
	overflow-x:visible;
}

.header-link {
	display: inline;
	text-decoration: none;
	margin-right: 40px;
	font-size: 1.2em;
}

.main-body{
	margin-left: 60px;
	margin-right: 70px;
	margin-top: 80px;
}

