pre, xmp, plaintext, listing div {
display: block;
font-family: helvetica, sans-serif;
white-space: pre;
margin: 1em 0px;
font-family: helvetica;
}

.notice-div {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 87%;
  margin-left: 38px;
  padding-bottom: 20px;
}


.dialog-input-box{
  border-radius: 3px;
  border: 0.1em solid gray;
}

.arrow-right {
  border-color: rgba(245, 243, 231, 1) blue rgba(245, 243, 231, 1) rgb(15, 14, 4);
  border-style: solid;
  border-width: 6px 0px 6px 6px;
  height: 0px;
  width: 0px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.plaintext, .listing {
  font-family: helvetica;
}


#about {
  font: Arial, helvetica;
  font-size: 16px;
  font-weight: 0.8em;
  margin-left: 130px;
  margin-top: 50px;
  line-height: 34px;
  max-width: 900px;
  font-family: helvetica;
  text-align: justify;
  color: #444;

}
