pre, xmp, plaintext, listing {
display: block;
font-family: helvetica, sans-serif;
white-space: pre;
margin: 1em 0px;
}

.notice-div {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 87%;
  margin-left: 38px;
  padding-bottom: 20px;
}

.mainpage-table {
	width: 87%;
	background-color: #fafafa;
	margin-top: 5px;
	border-radius: 3px;
	border-collapse:separate;
  margin-left: 38px;

}

.mainpage-table-row {
	text-align: justify;
  background-color: #fafafa;
  border-bottom: 2px solid blue !important;
}

.table-links {
	color: #0E7B9C !important;
}

.list-heading{
  width: 87%;
  margin-top: 60px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: black;
  line-height: 1.375;
  text-decoration: none;
  text-indent: 3px; 
  font-weight: 3em;
  margin-left: 38px;
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(top, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
  background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(212,228,239,1)), color-stop(69%, rgba(227,239,245,1)), color-stop(81%, rgba(230,241,246,1)), color-stop(90%, rgba(230,241,246,1)));
  background: -webkit-linear-gradient(top, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
  background: -o-linear-gradient(top, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
  background: -ms-linear-gradient(top, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
  background: linear-gradient(to bottom, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#e6f1f6', GradientType=0 );

}

.arrow-right { 
    border-color:  rgba(212,228,239,1) blue rgba(223, 235, 243, 1) gray;
    border-style: solid;
    border-width: 6px 0px 6px 6px;
    height: 0px;
    width: 0px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.plaintext, .listing {
  font-family: helvetica;
}

#about {
  font: Arial, helvetica;
  font-size: 19 px;
  font-weight: 0.8em;
  margin-left: 130px;
  margin-top: 50px;
  line-height: 34px;
  max-width: 850px;
}