.main-container {
  width: 100%;
  height: 100%;

  .container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;

    .list-heading {
      width: 87%;
      min-width: 470px;
      border-radius: 3px;
      margin-top: 10px;
      font-family: "Open Sans", arial, sans-serif;
      font-size: 20px;
      overflow: hidden;
      line-height: 1.375;
      text-indent: 3px;
      font-weight: 3em;
      margin-left: 38px;
      background: rgba(212,228,239,1);
      background: -moz-linear-gradient(top, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
      background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(212,228,239,1)), color-stop(69%, rgba(227,239,245,1)), color-stop(81%, rgba(230,241,246,1)), color-stop(90%, rgba(230,241,246,1)));
      background: -webkit-linear-gradient(top, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
      background: -o-linear-gradient(top, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
      background: -ms-linear-gradient(top, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
      background: linear-gradient(to bottom, rgba(212,228,239,1) 11%, rgba(227,239,245,1) 69%, rgba(230,241,246,1) 81%, rgba(230,241,246,1) 90%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#e6f1f6', GradientType=0 );
      
      a {
        vertical-align: middle;
      }
    }

    .table-default {
      width: 87%;
      background-color: #fafafa;
      border-collapse: collapse !important;
      margin-top: 5px;
      border-radius: 3px;
      border-collapse:separate;
      margin-left: 38px;
      border: 1px solid #eee;

      .table-links {
        color: #4183c4 !important;
      }

      td, th {
        padding: 7px 3px;
        border-top: 1px solid #eee;
      }

      .table-row {
        text-align: justify;
        text-indent: 5px;
        background-color: #fff;
        font-family: helvetica;
      }

      .table-row:hover {
        background: #f5f9fc;
      }
    }
  }

  .database-selector-checkbox {
    opacity: 0;
  }

  .database-selector-checkbox:hover, .selected-row {
    opacity: 1;
    background: whitesmoke !important;
  }
}




