!!! 5
<!--[if lt IE 7]><html lang="en" class="no-js ie6 oldie"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7 oldie"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8 oldie"><![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => 'en', :dir => 'ltr' }
  <!--<![endif]-->

  = render "head"

%body{ :id => "mongoman-com"}
  = render "chromeframe"
  = render "javascripts"

  = javascript_include_tag 'application'
  